body{
	margin: 0;
	font-family: Chalkduster;
	font-size: 20px;
	line-height: 30px;
    background-color: #E6E8E9;

}

header{	
    background-image: url(../img/gloomy-trees2.jpeg);
	background-color: #275767;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	border-bottom: 4px solid;
	border-color: white;
}

h1, h2{
	font-family: 'Creepster', cursive;
}

/* header styles */

header h1{
	color: #F2E1CC;
	font-size: 4em;
	
}

header img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    border: 6px solid #ffff;
}

/* Main page styles */

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;

}

main img{
	max-width: 100%;
}

h2{
	font-size: 40px;
	margin: 50px 0 10px;
}

a{
	color: #0A222E;

}
a:hover{
	color: #F7DFC7;
	background-color: #8681EB;

}

/* footer styles*/

footer{
	background-image: url(../img/gloomy-trees2.jpeg);
	text-align: left;
	padding: 50px;
}


footer p{
	margin: 0;
	color: #F7DFC7;
}

footer a{
	color: #F7DFC7;
}
footer a:hover{
	color: black;
	background-color: transparent;
}

/* image caption */

p.caption{
	color: #999999;
	font-style: italic;

	margin-top: 0;
}